body {
  margin: 0;
  background-color: #FFF; }

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #000; }

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #000; }

p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #000; }

header {
  position: absolute;
  z-index: 3;
  top: 2em;
  left: 2em; }

.container_logo {
  position: absolute;
  top: 20px;
  left: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 2em;
  color: #000;
  z-index: 3; }

.logo_nasa {
  position: absolute;
  width: 100px;
  height: auto;
  z-index: 3;
  top: 20px;
  right: 20px; }

.main {
  position: relative;
  margin: 0 auto;
  z-index: 2; }

.grid {
  padding-top: 30vh;
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

.img_grid_container {
  position: relative;
  display: inline-block;
  width: 40%;
  height: auto; }

.text_info_global {
  z-index: 10;
  position: absolute;
  top: 50px;
  left: 20px;
  color: #000; }

.text_img_grid {
  z-index: 10;
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: #FFF; }

.img_grid {
  width: 100%;
  z-index: 2;
  margin: 0px;
  display: inline-block; }
